main {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 12vw;
    height: 100%;
    width: 88vw;
    top: 100px;
    background-color: #F5F7FA;
}

.container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 100vh;
}

.highLevel {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.middleLevel {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.lowLevel {
    display: flex;
    flex-direction: row;
    gap: 30px;
}